/*FONT IMPORT*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

h1, h2, h3, h4 {
    font-family: lato;
}
/*FETCH JSON*/

.template-header {
display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20%;
}

.underline {
  background-color: black;
    height: 2px;
    margin-left: 5vw;
    margin-right: 5vw;
}

#content {
    display: grid;
    margin-left: 20%;
    grid-template-columns: 1fr 1fr;
}


.hide {
    display: none;
}
